@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --fag-gray: #363636;
    --navbar-divider: #ffffff;
    --dropdown-divider: #d4d4d4;
    --card-bg: #ffffff;
    --hover-bg: #e5e5e5;
    --fag-green: #1a5021;
    --fag-green-dark: #253325;
    --fag-light-green: #bcdec0;
    --fag-light-green-hover: #a8d66f;
    --event-card-bg: #f5f5f2;
    --event-hover-bg: #dceedf;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-fag-gray: var(--fag-gray);
    --color-navbar-divider: var(--navbar-divider);
    --color-dropdown-divider: var(--dropdown-divider);
    --color-card-bg: var(--card-bg);
    --color-hover-bg: var(--hover-bg);
    --color-fag-green: var(--fag-green);
    --color-fag-green-dark: var(--fag-green-dark);
    --color-fag-light-green: var(--fag-light-green);
    --color-fag-light-green-hover: var(--fag-light-green-hover);
    --color-event-card-bg: var(--event-card-bg);
    --color-event-hover-bg: var(--event-hover-bg);

    --font-sans:
        var(--font-montserrat), ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #171717;
        --foreground: #ededed;
        --navbar-divider: #ffffff;
        --dropdown-divider: #525252;
        --card-bg: #262626;
        --hover-bg: #404040;

        /* Cores dark mode */
        --fag-gray: #ededed;
        --event-card-bg: #262626;
        --event-hover-bg: #404040;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
}

/* Autocomplete do navegador */
/* modo claro */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #4b5563 !important;
    -webkit-box-shadow: 0 0 0px 1000px #e5e5e5 inset !important;
    box-shadow: 0 0 0px 1000px #e5e5e5 inset !important;
    transition: background-color 5000s ease-in-out 0s;
}

/* modo escuro */
@media (prefers-color-scheme: dark) {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
        -webkit-text-fill-color: #ffffff !important;
        -webkit-box-shadow: 0 0 0px 1000px #262626 inset !important;
        box-shadow: 0 0 0px 1000px #262626 inset !important;
        transition: background-color 5000s ease-in-out 0s;
    }
}
