@import "tailwindcss";

body {
    background: var(--background);
    color: var(--foreground);
}

/* Autocomplete do navegador */
/* modo claro */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #4b5563 !important;
    -webkit-box-shadow: 0 0 0px 1000px #e5e5e5 inset !important;
    box-shadow: 0 0 0px 1000px #e5e5e5 inset !important;
    transition: background-color 5000s ease-in-out 0s;
}

/* modo escuro */
@media (prefers-color-scheme: dark) {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
        -webkit-text-fill-color: #ffffff !important;
        -webkit-box-shadow: 0 0 0px 1000px #262626 inset !important;
        box-shadow: 0 0 0px 1000px #262626 inset !important;
        transition: background-color 5000s ease-in-out 0s;
    }
}
